@charset "UTF-8";

// PC
@media screen and (min-width: 1021px) {
  .hatiho {
    position: fixed;
    width: 1020px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__header {
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    &__logo {
      a {
      }
      img {
      }
    }
    &__gnb {
      width: 800px;
    }
    &__menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      > li > a {
      }
    }
    &__submenu {
      position: absolute;
      > li > a {
      }
    }
    &__content {
    }
    &__footer {
      text-align: center;

      b {
        color: $col_red;
      }
    }
  }
}
